<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <location>
    <system.webServer>    
      <rewrite xdt:Transform="Insert">
        <rules>
        <rule name="FaviconRewriteRule" stopProcessing="true">
          <match url=".*favicon.ico"/>
          <action type="Rewrite" url="wwwroot/favicon.ico"/>
        </rule>
        <rule name="SpaRewriteRule" stopProcessing="true">
          <match url=".*"/>
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
            <add input="{REQUEST_URI}" pattern="\.js$" negate="true"/>
            <add input="{REQUEST_URI}" pattern="\.css$" negate="true"/>
            <add input="{REQUEST_URI}" pattern="\.json$" negate="true"/>
            <add input="{REQUEST_URI}" pattern="favicon.ico$" negate="true"/>
          </conditions>
          <action type="Rewrite" url="ClientApp/dist/index.html"/>
        </rule>
        </rules>
      </rewrite>
    </system.webServer>
  </location>
</configuration>