.wordCheckForm {
  font-size: 16pt;
  width: 50%;
  margin: auto;
  text-align: center;
}

.wordCheckForm input {
  min-width: 256px;
}

.wordCheckForm .irregular {
  color: darkred;
  font-weight: bold;
}

table {
  margin-right: auto;
  margin-left: auto;
}

table td {
  width: 40px;
  height: 8px;
  overflow: hidden;
  display: inline-block;
  margin-left: -1px;
  margin-top: -1px;
  white-space: nowrap;
  border: solid 1px black;
}

td.correctAnswer {
  background-color: darkgreen;
}

td.incorrectAnswer {
  background-color: darkred;
}
